      <div class="hero-container">
        <div class="hero-text-div">
          <div class="text-contain">
            <h2>Welcome to the Weather App</h2>
            <h1>Get the latest <span>Weather</span> Info of your City</h1>
            <div>
              <a class="check-btn" href="/weather">Check Now</a>
            </div>
          </div>
        </div>
        <div class="img-section">
          <div class="img-wrapper">
            <img src="images/Gen Z-rafiki.png" alt="Gen Z" />
          </div>
        </div>
      </div>