 <nav>
      <div class="nav-container">
        <div class="nav-items-container">
          <h1 class="logo"><a href="/">Weather Shots</a></h1>
          <div class="nav-items">
            <ul class="nav-items-list">
              <li><a href="/">Home</a></li>
              <li><a href="/weather">Weather</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>