<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>nav}}



      <main>
      <div class="hero-container">
        <div class="hero-text-div">
          <div class="text-contain">
            <h1>Page <span>404 ERROR</span></h1>
            <div>
              <a
                class="check-btn"
                href="/"
                target="_blank"
                >Go Back</a
              >
            </div>
          </div>
        </div>
        <div class="img-section">
          <div class="img-wrapper">
            <img src="images/404.png" alt="404 Error Page" />
          </div>
        </div>
      </div>
    </main>


    {{>footer}}

</body>
</html>