<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>


    
 {{>nav}}


    <main>

      {{!-------------------------------------------- About Image Section --------------------------------------}}

      <div class="hero-container">
         <div class="img-section">
          <div class="img-wrapper">
            <img src="images/Profile data-bro.png" alt="Profile Data" />
          </div>
        </div>

{{!-------------------------------------------------- About Text Section ---------------------------------}}
        <div class="hero-text-div">
          <div class="text-contain">
            <h2>Welcome to Code - Addict</h2>
            <h1>I am a <span>MERN STACK </span> Developer</h1>
            <div>
              <a
                class="check-btn"
                href="https://www.linkedin.com/in/zaryab-khalid-09a285b6/"
                target="_blank"
                >About Me</a
              >
            </div>
          </div>
        </div>
       
      </div>
    </main>


    {{>footer}}
  </body>
</html>
