<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerLinks}}
  </head>
  <body>
    
    <!-- **** ****** ****** ****** ****** ***** *****  Navbar -->
   
    {{>nav}}


    <!-- ***** ***** ****** ***** ****** ***** *****  Main Section -->
    <main>
    <!-- ***** ***** ****** ***** ****** ***** *****  Hero Section -->
    {{>hero}}
    </main>
    

    
    <!-- ******************************************* Footer -->
    {{>footer}}
  
  
  </body>
</html>
